{% load site %}
{% load menu %}
{% header_menu as items %}
{% current_domain as domain %}
   <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">{{ domain|upper }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {% for item in items %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ item.href }}" title="{{ item.title }}">{{ item.name }}</a>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>